.header
  %h.header__title
    MY単語
.body
  .body__mypage
    .body__mypage__left
      .body__mypage__left__contents
        = link_to "フラッシュ", flush_tangos_path(current_user)
      .body__mypage__left__contents
        = link_to "テスト", test_tests_path(current_user)
      .body__mypage__left__contents
        = link_to "ドリル", drilltest_tangos_path(current_user)
      .body__mypage__left__contents
        =link_to destroy_user_session_path, method: :delete do
          ="ログアウト"
    .body__mypage__right
      .body__mypage__right__contents
        .body__mypage__right__contents__problems
          .body__mypage__right__contents__problems__search
            = search_form_for @q, url:root_path do |f|
              = f.label :anser_cont, '答え'
              = f.search_field :anser_cont
              = f.submit "検索"
          %h.body__mypage__right__contents__problems__direction
            My単語を登録
            = form_with(model: @tango, local: true) do |form|
              .body__mypage__right__contents__problems__problem
                .body__mypage__right__contents__problems__problem__japanese
                  = form.text_field :question, placeholder: "単語", size: "10x10", class: "body__problems__problem__japanese__jinput"
                .body__mypage__right__contents__problems__problem__english
                  = form.text_field :anser, placeholder: "英単語", size: "10x10", class: "body__problems__problem__english__einput"
                = form.submit "作成"
          - @tangos.each do |tango|
            .body__mypage__right__contents__problems__problem
              .body__mypage__right__contents__problems__problem__option
                = link_to "削除", "/tangos/#{tango.id}", method: :delete
              .body__mypage__right__contents__problems__problem__japanese
                = tango.question
              .body__mypage__right__contents__problems__problem__english
                = tango.anser
          .body__mypage__right__contents__problems
            = paginate @tangos
            = page_entries_info @tangos