.header
  %h.header__title
    フラッシュ単語
  .header__right
    .header__right__start
      =link_to "テスト", test_tests_path(@tangos)
    .header__right__flush
      = link_to "フラッシュ", tango_path(@tangos), { data: {id: "autorenew"}}
    .header__right__drill
      = link_to "ドリル", drilltest_tangos_path
.body
  .body__problems
    %h.body__problems__direction
      My単語を登録
      = form_with(model: @tango, local: true) do |form|
        .body__problems__problem
          .body__problems__problem__japanese
            = form.text_field :question, placeholder: "単語", size: "10x10", class: "body__problems__problem__japanese__jinput", id: "jinput"
          .body__problems__problem__english
            = form.text_field :anser, placeholder: "英単語", size: "10x10", class: "body__problems__problem__english__einput", id: "einput"
          = form.submit "作成"
    - @tangos.each do |tango|
      .body__problems__problem
        .body__problems__problem__option
          = link_to "削除", "/tangos/#{tango.id}", method: :delete
        .body__problems__problem__japanese
          = tango.question
        .body__problems__problem__english
          = tango.anser
    -# .body__problems__problem
    -#   .body__problems__problem__kaminari
    -#     見えてる？
    -#     = paginate @tangos
    -#     = page_entries_info @tangos
.footer
  英単語問題集は「神戸大学石川慎一郎研究室 – 語彙研究 JEV (Junior High School Level English Vocabulary）1200」より作成